@model  Lab3.Models.ViewModel.CompareResult

@{
    ViewData["Title"] = "CompareResult";
}

<h1>CompareResult</h1>

 
<table class="table">
    <thead>
        <tr>
            <th> Title</th>
            <th> Years</th>
            <th> Genre</th>
            <th> Budget</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.movies1) {
        <tr>
             <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Years)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget)
            </td>
            
        </tr>
}
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th> Title</th>
            <th> Years</th>
            <th> Genre</th>
            <th> Budget</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.movies2)
        {
            <tr>
                 <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Years)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Budget)
                </td>

            </tr>
        }
    </tbody>
</table>
